.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  width: 100vw;
  height: 85px;

  padding: 0 2rem;

  background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.container img {
  height: 50px
}

.container svg {
  width: 30px;
  height: 40px;
  cursor: pointer;
  color: var(--principal);
}

