.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  padding: 2rem;
  height: 700px;
  width: 100%;
  max-width: 400px;
  background: var(--bgComponents);
  border: 1px solid var(--secondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
}

.container img {
  position: absolute;
  top: -80px
}

.container .wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.container .wrapper .user {
  margin-bottom: 2rem;

}
.container .wrapper .user h1 {
  color: var(--principal);
}

.container .wrapper .btn {
  margin-bottom: 2rem;
}
.container .wrapper .btn button{
  padding: 4px 1rem;
  border-radius: 4px;
  border: none;
  background: var(--principal);
  color: #fff;

}

.container .wrapper .btn button + button{
  margin-left: 10px;
}

.container .wrapper .dados1 {
  display: flex;
  flex-direction: column;
  color: var(--principal);
  background: var(--principalLight);
  padding: 1rem;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.container .wrapper .dados1 span+span {
  margin-top: 8px;
}

.container .wrapper .dados2 {
  display: flex;
align-items: center;
justify-content: space-between;
  background: var(--principal);
  padding: 1rem;
  width: 100%;
  color: #fff;
  margin-bottom: 2rem;
}

.container .options {
  margin-top: 2rem;

  width: 100%;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.container .options button {
  width: 100%;
  margin-bottom: 2rem;
  height: 4rem;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  background: #fff;


}


